<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963458548666-diohpg9b4s0seprpunq79v4451llivcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963458548666-diohpg9b4s0seprpunq79v4451llivcb</string>
	<key>API_KEY</key>
	<string>AIzaSyDuL8jE6JR4wE_NMGx6HEcPt4yLkbwNj6E</string>
	<key>GCM_SENDER_ID</key>
	<string>963458548666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseUdemy1</string>
	<key>PROJECT_ID</key>
	<string>fir-memo-app-903ba</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-memo-app-903ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963458548666:ios:bda9ded6d13e0b25fc5383</string>
</dict>
</plist>